**Task 1: Database Design**

In [3]:
CREATE DATABASE SISDB;

USE SISDB;

CREATE TABLE Students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    date_of_birth DATE,
    email VARCHAR(100),
    phone_number VARCHAR(15)
);

CREATE TABLE Teacher (
    teacher_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    email VARCHAR(100)
);

CREATE TABLE Courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100),
    credits INT,
    teacher_id INT,
    FOREIGN KEY (teacher_id) REFERENCES Teacher(teacher_id)
);

CREATE TABLE Enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    enrollment_date DATE,
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

CREATE TABLE Payments (
    payment_id INT PRIMARY KEY,
    student_id INT,
    amount DECIMAL(10, 2),
    payment_date DATE,
    FOREIGN KEY (student_id) REFERENCES Students(student_id)
);

INSERT INTO Students (student_id, first_name, last_name, date_of_birth, email, phone_number)
VALUES
   (1, 'John', 'Doe', '2000-01-01', 'john.doe@example.com', '123-456-7890'),
   (2, 'Jane', 'Smith', '1999-05-15', 'jane.smith@example.com', '987-654-3210'),
   (3, 'Michael', 'Johnson', '2001-07-20', 'michael.johnson@example.com', '456-789-0123'),
   (4, 'Emily', 'Williams', '2002-03-10', 'emily.williams@example.com', '789-012-3456'),
   (5, 'David', 'Brown', '1998-11-30', 'david.brown@example.com', '321-654-9870'),
   (6, 'Sarah', 'Jones', '2003-09-05', 'sarah.jones@example.com', '654-987-0123'),
   (7, 'Daniel', 'Miller', '2000-12-25', 'daniel.miller@example.com', '987-012-3456'),
   (8, 'Jessica', 'Davis', '1997-04-18', 'jessica.davis@example.com', '012-345-6789'),
   (9, 'Matthew', 'Wilson', '1999-08-08', 'matthew.wilson@example.com', '345-678-9012'),
   (10, 'Amanda', 'Taylor', '2002-06-15', 'amanda.taylor@example.com', '678-901-2345');

INSERT INTO Teacher (teacher_id, first_name, last_name, email)
VALUES
   (101, 'Alex', 'Johnson', 'alex.johnson@example.com'),
   (102, 'Emma', 'Williams', 'emma.williams@example.com'),
   (103, 'Michael', 'Brown', 'michael.brown@example.com'),
   (104, 'Olivia', 'Jones', 'olivia.jones@example.com'),
   (105, 'William', 'Davis', 'william.davis@example.com'),
   (106, 'Sophia', 'Miller', 'sophia.miller@example.com'),
   (107, 'James', 'Wilson', 'james.wilson@example.com'),
   (108, 'Charlotte', 'Moore', 'charlotte.moore@example.com'),
   (109, 'Benjamin', 'Taylor', 'benjamin.taylor@example.com'),
   (110, 'Ava', 'Anderson', 'ava.anderson@example.com');

INSERT INTO Courses (course_id, course_name, credits, teacher_id)
VALUES
   (1, 'Mathematics', 3, 101),
   (2, 'History', 4, 102),
   (3, 'Computer Science', 3, 103),
   (4, 'Literature', 4, 104),
   (5, 'Biology', 3, 105),
   (6, 'Chemistry', 4, 106),
   (7, 'Physics', 3, 107),
   (8, 'Art', 2, 108),
   (9, 'Music', 2, 109),
   (10, 'Physical Education', 2, 110);

INSERT INTO Enrollments (enrollment_id, student_id, course_id, enrollment_date)
VALUES
   (1, 1, 1, '2023-09-01'),
   (2, 1, 2, '2023-09-01'),
   (3, 2, 3, '2023-09-02'),
   (4, 2, 4, '2023-09-02'),
   (5, 3, 5, '2023-09-03'),
   (6, 3, 6, '2023-09-03'),
   (7, 4, 7, '2023-09-04'),
   (8, 4, 8, '2023-09-04'),
   (9, 5, 9, '2023-09-05'),
   (10, 5, 10, '2023-09-05');

INSERT INTO Payments (payment_id, student_id, amount, payment_date)
VALUES
   (1, 1, 100.00, '2023-09-01'),
   (2, 2, 150.00, '2023-09-02'),
   (3, 3, 200.00, '2023-09-03'),
   (4, 4, 180.00, '2023-09-04'),
   (5, 5, 120.00, '2023-09-05'),
   (6, 6, 160.00, '2023-09-06'),
   (7, 7, 140.00, '2023-09-07'),
   (8, 8, 130.00, '2023-09-08'),
   (9, 9, 190.00, '2023-09-09'),
   (10, 10, 170.00, '2023-09-10');

**Tasks 2: Select, Where, Between, AND, LIKE**

In [2]:
USE SISDB;

INSERT INTO Students (student_id, first_name, last_name, date_of_birth, email, phone_number)
VALUES (11, 'John', 'Doe', '1995-08-15', 'john.doe@example.com', '1234567890');

INSERT INTO Enrollments (enrollment_id, student_id, course_id, enrollment_date)
VALUES (11, 11, 5, GETDATE());

UPDATE Teacher
SET email = 'alexa.email@example.com'
WHERE teacher_id = 101;

DELETE FROM Enrollments
WHERE student_id = 1
AND course_id = 1;

UPDATE Courses
SET teacher_id = 103
WHERE course_id = 1;

BEGIN TRANSACTION;
-- Delete enrollment records for the student
DELETE FROM Enrollments
WHERE student_id = 1;
DELETE FROM Payments
WHERE student_id = 1;
-- Now delete the student
DELETE FROM Students  
WHERE student_id = 1;
COMMIT TRANSACTION;

UPDATE Payments
SET amount = 200.00
WHERE payment_id = 1;

**Task 3: Aggregate functions, Having, Order By, GroupBy and Joins**

In [3]:
USE SISDB;

SELECT SUM(amount) AS total_payments
FROM Payments
WHERE student_id = 2;

SELECT c.course_name, COUNT(e.student_id) AS enrolled_students_count
FROM Courses c
LEFT JOIN Enrollments e ON c.course_id = e.course_id
GROUP BY c.course_name;

SELECT s.first_name, s.last_name
FROM Students s
LEFT JOIN Enrollments e ON s.student_id = e.student_id
WHERE e.student_id IS NULL;

SELECT s.first_name, s.last_name, c.course_name
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Courses c ON e.course_id = c.course_id;

SELECT t.first_name, t.last_name, c.course_name
FROM Teacher t
JOIN Courses c ON t.teacher_id = c.teacher_id;

SELECT s.first_name, s.last_name, e.enrollment_date, c.course_name
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
JOIN Courses c ON e.course_id = c.course_id
WHERE c.course_name = 'Literature';

SELECT s.first_name, s.last_name
FROM Students s
LEFT JOIN Payments p ON s.student_id = p.student_id
WHERE p.student_id IS NULL;

SELECT c.course_name
FROM Courses c
LEFT JOIN Enrollments e ON c.course_id = e.course_id
WHERE e.course_id IS NULL;

SELECT DISTINCT s.first_name, s.last_name
FROM Students s
JOIN Enrollments e1 ON s.student_id = e1.student_id
JOIN Enrollments e2 ON s.student_id = e2.student_id AND e1.enrollment_id <> e2.enrollment_id;
-- or the below one
SELECT s.first_name, s.last_name
FROM Students s
JOIN Enrollments e ON s.student_id = e.student_id
GROUP BY s.first_name, s.last_name
HAVING COUNT(*) > 1;

SELECT t.first_name, t.last_name
FROM Teacher t
LEFT JOIN Courses c ON t.teacher_id = c.teacher_id
WHERE c.teacher_id IS NULL;

total_payments
150.00

course_name,enrolled_students_count
Art,1
Biology,2
Chemistry,1
Computer Science,1
History,0
Literature,1
Mathematics,0
Music,1
Physical Education,1
Physics,1

first_name,last_name
Sarah,Jones
Daniel,Miller
Jessica,Davis
Matthew,Wilson
Amanda,Taylor

first_name,last_name,course_name
Jane,Smith,Computer Science
Jane,Smith,Literature
Michael,Johnson,Biology
Michael,Johnson,Chemistry
Emily,Williams,Physics
Emily,Williams,Art
David,Brown,Music
David,Brown,Physical Education
John,Doe,Biology

first_name,last_name,course_name
Michael,Brown,Mathematics
Emma,Williams,History
Michael,Brown,Computer Science
Olivia,Jones,Literature
William,Davis,Biology
Sophia,Miller,Chemistry
James,Wilson,Physics
Charlotte,Moore,Art
Benjamin,Taylor,Music
Ava,Anderson,Physical Education

first_name,last_name,enrollment_date,course_name
Jane,Smith,2023-09-02,Literature

first_name,last_name
John,Doe

course_name
Mathematics
History

first_name,last_name
David,Brown
Emily,Williams
Jane,Smith
Michael,Johnson

first_name,last_name
David,Brown
Michael,Johnson
Jane,Smith
Emily,Williams

first_name,last_name
Alex,Johnson

**Task 4: Subquery and its type**

In [4]:
USE SISDB;

SELECT AVG(student_count) AS average_students_per_course
FROM (
    SELECT COUNT(*) AS student_count
    FROM Enrollments
    GROUP BY course_id
) AS course_enrollment_counts;

SELECT student_id
FROM Payments
WHERE amount = (SELECT MAX(amount) FROM Payments);

SELECT e.course_id, c.course_name
FROM (
    SELECT course_id
    FROM Enrollments
    GROUP BY course_id
    HAVING COUNT(*) = (
        SELECT MAX(enrollment_count)
        FROM (
            SELECT COUNT(*) AS enrollment_count
            FROM Enrollments
            GROUP BY course_id
        ) AS course_enrollment_counts
    )
) AS e
JOIN Courses c ON e.course_id = c.course_id;

SELECT t.teacher_id, t.first_name, t.last_name, SUM(p.amount) AS total_payments
FROM Teacher t
JOIN Courses c ON t.teacher_id = c.teacher_id
JOIN Enrollments e ON c.course_id = e.course_id
JOIN Payments p ON e.student_id = p.student_id
GROUP BY t.teacher_id, t.first_name, t.last_name;

SELECT student_id
FROM Enrollments
GROUP BY student_id
HAVING COUNT(DISTINCT course_id) = (
    SELECT COUNT(*) FROM Courses
);

SELECT * 
FROM Teacher 
WHERE teacher_id NOT IN ( 
    SELECT DISTINCT teacher_id 
    FROM Courses 
);

SELECT AVG(age) AS average_age
FROM (
    SELECT DATEDIFF(year, date_of_birth, GETDATE()) AS age
    FROM Students
) AS student_age;

SELECT course_id, course_name
FROM Courses
WHERE course_id NOT IN (
    SELECT DISTINCT course_id
    FROM Enrollments
);

SELECT e.student_id, e.course_id, SUM(p.amount) AS total_payments
FROM Enrollments e
JOIN Payments p ON e.student_id = p.student_id
GROUP BY e.student_id, e.course_id; 

SELECT student_id
FROM Payments
GROUP BY student_id
HAVING COUNT(*) > 1;

SELECT student_id, SUM(amount) AS total_payments
FROM Payments
GROUP BY student_id;

SELECT c.course_name, COUNT(e.student_id) AS enrollment_count
FROM Courses c
LEFT JOIN Enrollments e ON c.course_id = e.course_id
GROUP BY c.course_name;

SELECT AVG(amount) AS average_payment_amount
FROM Payments;

average_students_per_course
1

student_id
3

course_id,course_name
5,Biology

teacher_id,first_name,last_name,total_payments
103,Michael,Brown,150.00
104,Olivia,Jones,150.00
105,William,Davis,200.00
106,Sophia,Miller,200.00
107,James,Wilson,180.00
108,Charlotte,Moore,180.00
109,Benjamin,Taylor,120.00
110,Ava,Anderson,120.00

teacher_id,first_name,last_name,email
101,Alex,Johnson,alexa.email@example.com

average_age
24

course_id,course_name
1,Mathematics
2,History

student_id,course_id,total_payments
2,3,150.00
2,4,150.00
3,5,200.00
3,6,200.00
4,7,180.00
4,8,180.00
5,9,120.00
5,10,120.00

student_id,total_payments
2,150.00
3,200.00
4,180.00
5,120.00
6,160.00
7,140.00
8,130.00
9,190.00
10,170.00

course_name,enrollment_count
Art,1
Biology,2
Chemistry,1
Computer Science,1
History,0
Literature,1
Mathematics,0
Music,1
Physical Education,1
Physics,1

average_payment_amount
160.000000